
header {height:100px;}
/* -----------------------------------------NavBar */

.navbar-nav {
    font-family: "Exo", sans-serif;
    font-size: 1.2em;
    color: black;
}

.navbar-nav li {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-brand {
    height: 75px;
    padding-left: 1em;
}

.navbar-brand img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.nav-item a {
    font-size: 1.2em;
    font-family: 'Exo', sans-serif;
    color: black !important;
}

.navbar ul li a:hover {
    color: #ffa500 !important;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/* -----------------------------------------home page hero section */

section#hero {height: 665px; position: relative;}

#cta {
   position: absolute; 
   top:50%; 
   left:50%;
   font-family: "Exo", sans-serif;
    text-transform: uppercase;
   
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#home_hero {
  background-image:  url("images/barbell.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#home_hero button {margin-top:20px;}

.jumbotron {text-align:center;}

.jumbotron h1, .jumbotron p { color: #fff;}

/* -----------------------------------------About us home page */

.about_us h1 {
    text-align: center;
    padding-top: 30px;
    color: #000;
    text-transform: uppercase;
    font-family: "Exo", sans-serif;
}

.about_us p {
    text-align: center;
    padding-bottom: 50px;
    color: #000;
    font-size: 1.5em;
    font-family: "Exo", sans-serif;
}

/* -----------------------------------------Membership prices */

/*.monthly_membership {
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
    color: #0000ff;
    padding-top: 20px;
    padding-bottom: 20px;
}*/

.price-package{
	padding: 80px 0px;
	background-color: #ffffff;
}
.price-package h2{
	font-size: 30px;
	font-weight: 500;
	color:#000000;
	padding: 0px 0px 20px;
	text-align: center;
}

.price-package .title-p{
 font-size: 15px;
 line-height: 20px;
 color:#222222;
 margin:0;
 text-align: center;
 padding:0 20% 50px;
 font-family: 'Open-sans', sans-serif;
}

.price-package .content{
	-webkit-display: flex;
	display: flex;
}
.price-package .content .box{
	flex:0 0 33.33%;
	max-width: 33.33%;
	padding: 15px;
}
.price-package .content .box .inner{
	background-color: #f0f0f0;
}
.price-package .content .box .inner .price-tag{
	padding: 15px;
	font-size: 20px;
	background-color: #c11325;
	color:#ffffff;
	text-align: center;
	font-weight: 700;
}
.price-package .content .box .inner .text{
	padding:30px 15px;
	text-align: center;
}
.price-package .content .box .inner .text h3{
	font-size: 24px;
	color:#222222;
	margin:0;
	padding:0px 0px 20px;
	font-weight: 700;
}
.price-package .content .box .inner .text p{
 font-size: 15px;
 line-height: 20px;
 color:#222222;
 margin:0;
 text-align: center;
 padding:0 0 5px;
 font-family: 'Open-sans', sans-serif;	
}
.price-package .content .box .inner .text .btn{
    padding: 8px 30px;
    background-color: #c11325;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    border: 1px solid transparent;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    margin-top: 10px;
}
.price-package .content .box .inner .text .btn:hover{
	border-color:#222222;
	color:#222222;
	background-color: transparent;
}
.price-package .content .box .inner .img img{
	width: 100%;
}

@media(max-width: 767px){
.price-package .content{
	flex-wrap: wrap;
}
.price-package .content .box {
    flex: 0 0 100%;
    max-width: 100%;
}
}
/* -----------------------------------------event table */
.schedule{
	padding:80px 0px;
}

.schedule .content{
	-webkit-display: flex;
	display: flex;
}

.schedule .content .box{
	flex:0 0 50%;
	max-width: 100%;
	padding:15px;
}

.schedule .content .text h2{
   font-size: 30px;
    font-weight: 500;
    color: #000000;
    padding: 0px 0px 20px;
}

.schedule .content .text p{
	font-size: 15px;
    line-height: 20px;
    color: #222222;
    margin: 0;
    padding: 0px 0px 20px;
    font-family: 'Open Sans', sans-serif;
}
.schedule .content .text img{
	width: 100%;
	transform: rotateY(180deg);
}

.schedule .content .timing .table{
	width: 100%;
	border-collapse: collapse;
}

.schedule .content .timing .table td{
	border:1px solid #dfdfdf;
	padding: 8px;
	font-size: 15px;
	text-align: center;
	color:#222222;
}


@media(max-width: 767px){
    .classes .content .class-items .item{
	flex-wrap: wrap;
}
.classes .content .class-items .item .item-text, 
.classes .content .class-items .item .item-img {
    flex: 0 0 100%;
    max-width: 100%;
}
.schedule .content{
	flex-wrap: wrap;
}
.schedule .content .box{
flex: 0 0 100%;
    max-width: 100%;	
}
}

/* -----------------------------------------gallery */



/* -----------------------------------------Footer */

.footer {
    background-color: #0f0a01;
    color: #fafafa;
    text-align:center;
    bottom: 0;
}

.footer ul {
  padding-top:20px;
}

.footer p {
  padding-bottom: 20px;
  margin-bottom: 0;
  color: #fff;
}

.social-links {
    text-align: center;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: black;
    background: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

.copyright {
    color: black;
    padding-top: 20px;
    text-align:center;
}

/* ----------------------- custom code */
