
header {height:100px;}
/* -----------------------------------------NavBar */

.navbar-nav {
    font-family: "Exo", sans-serif;
    font-size: 1.4em;
    color: black;
}

.navbar-nav li {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-brand {
    height: 75px;
    padding-left: 1em;
}

.navbar-brand img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.nav-item a {
    font-size: 1.2em;
    font-family: 'Exo', sans-serif;
    color: black !important;
}

.navbar ul li a:hover {
    color: #ffa500 !important;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/* -----------------------------------------home page hero section */

section#hero {height: 665px; position: relative;}

#cta {
   position: absolute; 
   top:50%; 
   left:50%;
   font-family: "Exo", sans-serif;
    text-transform: uppercase;
   
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#home_hero {
  background-image:  url("images/barbell.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#home_hero button {margin-top:20px;}

.jumbotron {text-align:center;}

.jumbotron h1, .jumbotron p { color: #fff;}

/* -----------------------------------------About us home page */

.about_us h1 {
    text-align: center;
    padding-top: 30px;
    color: #000;
    text-transform: uppercase;
    font-family: "Exo", sans-serif;
}

.about_us p {
    text-align: center;
    padding-bottom: 50px;
    color: #000;
    font-size: 1.5em;
    font-family: "Exo", sans-serif;
}

/* -----------------------------------------Membership prices */

.monthly_membership {
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
    color: #0000ff;
}

/* -----------------------------------------Footer */

.footer {
    background-color: #0f0a01;
    color: #fafafa;
    text-align:center;
    bottom: 0;
}

.footer ul {
  padding-top:20px;
}

.footer p {
  padding-bottom: 20px;
  margin-bottom: 0;
  color: #fff;
}

.social-links {
    text-align: center;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: black;
    background: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

.copyright {
    color: black;
    padding-top: 20px;
    text-align:center;
}

/* ----------------------- custom code */
